.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #e85757;
}

button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: rgb(190, 180, 180);
  border-radius: 10%;
}
