.spacer {
  flex: 1 1 auto;
}
header {
  height: auto;
}
mat-toolbar {
  background-color: #77D870;
}

mat-icon {
  padding-top: 5px;
}

button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: rgb(190, 180, 180);
  border-radius: 10%;
}

button:focus{
  border: none;
  background-color: none;
}
