@media (min-width: 768px) {
  .menu-hidden {
    visibility: hidden;
 }
}
.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #77D870;
}

button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 5px,0px,5px,0px;
}

button:hover {
  background-color: rgb(190, 180, 180);
}

button:focus{
  border: none;
  background-color: none;
}
