.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

body {
  height: 93.2vh;
  background-color: rgb(170, 170, 170);
}

.form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loginBtn {
  outline: none;
  background-color: #77d8708e;
  width: 150px;
margin-left: 25%;
margin-top: 10px;
}

.full-width {
  width: 100%;
}
