

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93.2vh;
  background-image: url('./../../assets/login/form-bg-full.jpg');
  opacity: 0.8;
  background-size: cover;
}

.form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.loginBtn {
  outline: none;
  background-color: #77d8708e;
  width: 150px;
margin-left: 25%;
margin-top: 10px;
}

.full-width {
  width: 100%;
}
